# Import

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import MinMaxScaler

# Data Load

In [2]:
data = pd.read_csv('../Data/Master_df_mean.csv')

In [3]:
data = data.set_index('시군구명')

In [4]:
print(data.shape)
display(data)

(225, 130)

,Unnamed: 0,행정동코드,SHC_SCRT1_SUM,SHC_SCRT2_SUM,SHC_SCRT3_SUM,SHC_SCRT4_SUM,SHC_SCRT5_SUM,SHC_SCRT6_SUM,SHC_SCRT7_SUM,SHC_SCRT8_SUM,...,금융 거래 금액,보험매출,보험건수,교통/숙박/여행,여가/오락,의료,의류/패션잡화,preferred_leisure,preferred_tourist,car_cnt
시군구명,,,,,,,,,,,,,,,,,,,,,
세종특별시,0,3.611048e+07,3.474449e+07,6.768129e+05,1.069760e+07,2.195265e+07,4.161617e+07,5.728968e+06,9.327910e+06,1.488252e+06,...,1.597831e+07,2834.450998,46.367127,3.578567e+07,3.016863e+07,1.031845e+08,6.613717e+07,67.245161,66.270968,39.225806
가평군,1,4.182028e+07,9.129250e+06,2.211250e+05,1.440250e+06,3.141250e+06,1.358956e+07,1.533438e+06,2.121750e+06,3.090000e+05,...,1.639955e+07,1036.880186,16.507692,4.187337e+07,1.371355e+08,1.926252e+07,7.800818e+06,38.937500,20.687500,15.125000
강남구,2,1.168062e+07,5.813645e+07,7.288901e+05,2.975520e+07,1.618556e+07,4.697701e+07,1.304914e+07,2.452179e+07,4.727429e+06,...,4.366476e+07,4348.590612,61.592319,1.287311e+08,1.336685e+08,1.636519e+09,5.339656e+08,73.982270,67.202128,16.968085
강동구,3,1.174062e+07,4.145199e+07,5.151452e+05,1.279737e+07,1.691782e+07,3.907610e+07,7.550081e+06,1.150556e+07,1.839581e+06,...,1.604510e+07,3626.867361,61.595607,2.624985e+07,4.084513e+07,2.463124e+08,7.167681e+07,59.451613,55.478495,19.580645
강릉시,4,4.215055e+07,2.112212e+07,7.430365e+05,1.482915e+06,9.355584e+06,2.744561e+07,3.949226e+06,7.875511e+06,9.657153e+05,...,2.105271e+07,2883.266462,43.536294,6.259186e+07,2.336013e+07,8.135349e+07,4.974782e+07,50.014599,36.065693,24.248175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
홍천군,220,4.272026e+07,2.620382e+07,1.013909e+06,2.305641e+06,8.533545e+06,3.791182e+07,4.696318e+06,7.851136e+06,7.210000e+05,...,1.315045e+07,1203.614740,19.597970,1.331976e+08,1.134017e+07,2.204328e+07,1.387627e+07,47.272727,47.909091,31.045455
화성시,221,4.159048e+07,5.065608e+07,9.462367e+05,1.781258e+07,2.277794e+07,6.603599e+07,7.015157e+06,1.450342e+07,1.825427e+06,...,1.409099e+07,6473.803410,105.093781,3.876981e+07,8.698100e+07,1.766324e+08,5.931781e+07,110.090000,60.150000,57.396667
화순군,222,4.679025e+07,1.337700e+07,5.888846e+05,2.732277e+06,2.614231e+06,2.381081e+07,2.753308e+06,4.089154e+06,4.160000e+05,...,9.425690e+06,1041.569567,17.921396,1.185052e+07,1.997308e+07,3.982184e+07,8.590349e+06,67.807692,49.730769,21.461538
화천군,223,4.279030e+07,1.519475e+07,4.748333e+05,5.617500e+05,1.187233e+07,1.422700e+07,1.379667e+06,2.670417e+06,2.220000e+05,...,1.077084e+07,642.049505,9.507779,8.351443e+06,6.956180e+06,3.948176e+06,3.010000e+05,35.916667,31.583333,18.250000
횡성군,224,4.273026e+07,1.341238e+07,6.046250e+05,3.114938e+06,3.434750e+06,1.859106e+07,2.014125e+06,2.990875e+06,3.405000e+05,...,1.067290e+07,713.479339,10.928719,1.443077e+07,3.841083e+06,1.317717e+07,2.282833e+06,47.187500,35.312500,20.750000

# Function

In [5]:
def entropy_weight(data):
    data = (data-data.min())/(data.max()-data.min())
    m,n = data.shape
    data1 = data.values
    k = 1/np.log(m)
    yij = data1.sum(axis = 0)
    
    pij = data/yij
    test = pij*np.log(pij)
    test = np.nan_to_num(test)
    
    ej = -k*(test.sum(axis = 0))
    wi = (1-ej)/np.sum(1-ej)
    wi_list = list(wi)
    return wi_list

# Data Preprocessing

In [6]:
mm = MinMaxScaler()
data =  pd.DataFrame(mm.fit_transform(data),columns=data.columns)
data

,Unnamed: 0,행정동코드,SHC_SCRT1_SUM,SHC_SCRT2_SUM,SHC_SCRT3_SUM,SHC_SCRT4_SUM,SHC_SCRT5_SUM,SHC_SCRT6_SUM,SHC_SCRT7_SUM,SHC_SCRT8_SUM,...,금융 거래 금액,보험매출,보험건수,교통/숙박/여행,여가/오락,의료,의류/패션잡화,preferred_leisure,preferred_tourist,car_cnt
0,0.000000,0.640695,0.308240,0.343557,0.223126,0.507369,0.435160,0.339269,0.264049,0.246402,...,0.147176,0.413981,0.403074,0.016672,0.116336,0.062388,0.123366,0.288002,0.358462,0.582456
1,0.004464,0.787026,0.076073,0.086971,0.030040,0.072601,0.128056,0.084130,0.056546,0.049506,...,0.152846,0.124531,0.120325,0.019684,0.532689,0.011071,0.014053,0.159096,0.102901,0.205361
2,0.008929,0.014608,0.520256,0.372881,0.620622,0.374080,0.493902,0.784425,0.701559,0.787239,...,0.519820,0.657792,0.547247,0.062653,0.519195,1.000000,1.000000,0.318681,0.363682,0.234199
3,0.013393,0.016146,0.369035,0.252527,0.266922,0.391004,0.407327,0.450015,0.326754,0.305063,...,0.148075,0.541578,0.547278,0.011955,0.157893,0.149909,0.133747,0.252512,0.297955,0.275077
4,0.017857,0.795490,0.184772,0.380846,0.030930,0.216226,0.279885,0.231039,0.222227,0.159156,...,0.215475,0.421842,0.376268,0.029933,0.089835,0.049039,0.092655,0.209538,0.189118,0.348108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.982143,0.810090,0.230831,0.533367,0.048090,0.197227,0.394569,0.276472,0.221525,0.118296,...,0.109115,0.151380,0.149588,0.064862,0.043049,0.012772,0.025438,0.197052,0.255517,0.454462
221,0.986607,0.781136,0.452457,0.495263,0.371528,0.526443,0.702742,0.417485,0.413078,0.302699,...,0.121774,1.000000,0.959178,0.018149,0.337470,0.107301,0.110588,0.483106,0.324145,0.866768
222,0.991071,0.914396,0.114573,0.294047,0.056989,0.060420,0.240056,0.158313,0.113198,0.067371,...,0.058982,0.125287,0.133711,0.004832,0.076651,0.023643,0.015533,0.290563,0.265730,0.304506
223,0.995536,0.811885,0.131049,0.229828,0.011717,0.274393,0.135041,0.074779,0.072345,0.034980,...,0.077087,0.060955,0.054040,0.003101,0.025985,0.001707,0.000000,0.145340,0.163988,0.254257
224,1.000000,0.810347,0.114894,0.302910,0.064970,0.079384,0.182861,0.113362,0.081573,0.054765,...,0.075768,0.072457,0.067495,0.006108,0.013860,0.007350,0.003714,0.196664,0.184895,0.293373

# Model

## Shopping_score

In [7]:
shopping_df = data[['SHC_SCRT3_SUM','SHC_SCRT4_SUM','SHC_SCRT5_SUM','SP_SSM_CNT','SP_DPRT_CNT',
                    'SP_BRND_CNT','SP_SM_CNT','SP_OTLT_CNT']]
shopping_df.head()

,SHC_SCRT3_SUM,SHC_SCRT4_SUM,SHC_SCRT5_SUM,SP_SSM_CNT,SP_DPRT_CNT,SP_BRND_CNT,SP_SM_CNT,SP_OTLT_CNT
0,0.223126,0.507369,0.435160,0.226726,0.088660,0.194007,0.412697,0.057862
1,0.030040,0.072601,0.128056,0.081215,0.017178,0.122114,0.040251,0.013036
2,0.620622,0.374080,0.493902,0.147863,0.415681,0.371301,0.357613,0.038830
3,0.266922,0.391004,0.407327,0.316863,0.070189,0.239500,0.315724,0.054946
4,0.030930,0.216226,0.279885,0.132578,0.011536,0.317382,0.144486,0.012179

In [8]:
shopping_df['margin'] = shopping_df.sum(axis=1)
shopping_df

,SHC_SCRT3_SUM,SHC_SCRT4_SUM,SHC_SCRT5_SUM,SP_SSM_CNT,SP_DPRT_CNT,SP_BRND_CNT,SP_SM_CNT,SP_OTLT_CNT,margin
0,0.223126,0.507369,0.435160,0.226726,0.088660,0.194007,0.412697,0.057862,2.145607
1,0.030040,0.072601,0.128056,0.081215,0.017178,0.122114,0.040251,0.013036,0.504490
2,0.620622,0.374080,0.493902,0.147863,0.415681,0.371301,0.357613,0.038830,2.819892
3,0.266922,0.391004,0.407327,0.316863,0.070189,0.239500,0.315724,0.054946,2.062477
4,0.030930,0.216226,0.279885,0.132578,0.011536,0.317382,0.144486,0.012179,1.145203
...,...,...,...,...,...,...,...,...,...
220,0.048090,0.197227,0.394569,0.024939,0.006247,0.188923,0.205375,0.014221,1.079591
221,0.371528,0.526443,0.702742,0.356911,0.072834,0.308881,0.465103,0.246462,3.050904
222,0.056989,0.060420,0.240056,0.032208,0.034356,0.434486,0.125215,0.036099,1.019828
223,0.011717,0.274393,0.135041,0.040908,0.000000,0.361160,0.038244,0.026071,0.887535
224,0.064970,0.079384,0.182861,0.007219,0.021472,0.371892,0.092070,0.026071,0.845939

In [9]:
shopping_df.SHC_SCRT3_SUM = shopping_df.SHC_SCRT3_SUM/shopping_df.margin
shopping_df.SHC_SCRT4_SUM = shopping_df.SHC_SCRT4_SUM/shopping_df.margin
shopping_df.SHC_SCRT5_SUM = shopping_df.SHC_SCRT5_SUM/shopping_df.margin
shopping_df.SP_SSM_CNT = shopping_df.SP_SSM_CNT/shopping_df.margin
shopping_df.SP_DPRT_CNT = shopping_df.SP_DPRT_CNT/shopping_df.margin
shopping_df.SP_BRND_CNT = shopping_df.SP_BRND_CNT/shopping_df.margin
shopping_df.SP_SM_CNT = shopping_df.SP_SM_CNT/shopping_df.margin
shopping_df.SP_OTLT_CNT = shopping_df.SP_OTLT_CNT/shopping_df.margin

In [10]:
shopping_df

,SHC_SCRT3_SUM,SHC_SCRT4_SUM,SHC_SCRT5_SUM,SP_SSM_CNT,SP_DPRT_CNT,SP_BRND_CNT,SP_SM_CNT,SP_OTLT_CNT,margin
0,0.103992,0.236469,0.202814,0.105670,0.041322,0.090420,0.192345,0.026968,2.145607
1,0.059546,0.143909,0.253833,0.160984,0.034050,0.242054,0.079786,0.025839,0.504490
2,0.220087,0.132658,0.175149,0.052436,0.147410,0.131672,0.126818,0.013770,2.819892
3,0.129418,0.189580,0.197494,0.153632,0.034032,0.116123,0.153080,0.026641,2.062477
4,0.027008,0.188810,0.244398,0.115768,0.010073,0.277141,0.126167,0.010635,1.145203
...,...,...,...,...,...,...,...,...,...
220,0.044545,0.182687,0.365480,0.023100,0.005786,0.174995,0.190234,0.013172,1.079591
221,0.121776,0.172553,0.230339,0.116985,0.023873,0.101242,0.152448,0.080783,3.050904
222,0.055881,0.059245,0.235389,0.031582,0.033688,0.426038,0.122780,0.035397,1.019828
223,0.013201,0.309163,0.152153,0.046092,0.000000,0.406925,0.043090,0.029375,0.887535
224,0.076802,0.093841,0.216163,0.008534,0.025383,0.439620,0.108838,0.030819,0.845939

In [11]:
shopping_weight = entropy_weight(shopping_df.drop(['margin'],axis=1))

In [12]:
shopping_weight

[0.09029234154905078,
 0.04016181455528776,
 0.021992788575943327,
 0.1316346151876212,
 0.2773473114067534,
 0.1171578185212953,
 0.07808559439542695,
 0.2433277158086213]

In [13]:
shopping_df['department_store'] = pd.qcut(shopping_df['SHC_SCRT3_SUM'],q=5,labels=range(1,6)).astype(int)
shopping_df['large_discount_store'] = pd.qcut(shopping_df['SHC_SCRT4_SUM'],q=5,labels=range(1,6)).astype(int)
shopping_df['small_distribution_store'] = pd.qcut(shopping_df['SHC_SCRT5_SUM'],q=5,labels=range(1,6)).astype(int)
shopping_df['SP_SSM_CNT'] = pd.qcut(shopping_df['SP_SSM_CNT'],q=5,labels=range(1,6)).astype(int)
shopping_df['SP_DPRT_CNT'] = pd.qcut(shopping_df['SP_DPRT_CNT'],q=5,labels=range(1,6)).astype(int)
shopping_df['SP_BRND_CNT'] = pd.qcut(shopping_df['SP_BRND_CNT'],q=5,labels=range(1,6)).astype(int)
shopping_df['SP_SM_CNT'] = pd.qcut(shopping_df['SP_SM_CNT'],q=5,labels=range(1,6)).astype(int)
shopping_df['SP_OTLT_CNT'] = pd.qcut(shopping_df['SP_OTLT_CNT'],q=5,labels=range(1,6)).astype(int)

In [14]:
shopping_df['shopping_score'] = (shopping_weight[0]*shopping_df['department_store'] + 
                                 shopping_weight[1]*shopping_df['large_discount_store']+
                                 shopping_weight[2]*shopping_df['small_distribution_store']+
                                 shopping_weight[3]*shopping_df['SP_SSM_CNT']+
                                 shopping_weight[4]*shopping_df['SP_DPRT_CNT']+
                                 shopping_weight[5]*shopping_df['SP_BRND_CNT']+
                                 shopping_weight[6]*shopping_df['SP_SM_CNT']+
                                 shopping_weight[7]*shopping_df['SP_OTLT_CNT'])

In [15]:
shopping_df

,SHC_SCRT3_SUM,SHC_SCRT4_SUM,SHC_SCRT5_SUM,SP_SSM_CNT,SP_DPRT_CNT,SP_BRND_CNT,SP_SM_CNT,SP_OTLT_CNT,margin,department_store,large_discount_store,small_distribution_store,shopping_score
0,0.103992,0.236469,0.202814,3,4,1,5,3,2.145607,4,5,3,3.369819
1,0.059546,0.143909,0.253833,4,3,4,2,2,0.504490,2,3,5,2.881072
2,0.220087,0.132658,0.175149,2,5,2,3,1,2.819892,5,3,2,2.977839
3,0.129418,0.189580,0.197494,4,3,2,4,3,2.062477,5,4,3,3.313309
4,0.027008,0.188810,0.244398,3,2,4,3,1,1.145203,1,4,4,2.234725
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.044545,0.182687,0.365480,1,1,3,5,1,1.079591,2,4,5,1.845407
221,0.121776,0.172553,0.230339,4,3,2,4,5,3.050904,5,4,4,3.821957
222,0.055881,0.059245,0.235389,1,3,5,3,3,1.019828,2,1,4,2.822423
223,0.013201,0.309163,0.152153,2,1,5,1,3,0.887535,1,5,2,2.269561
224,0.076802,0.093841,0.216163,1,3,5,3,3,0.845939,3,2,3,2.930885

In [16]:
scaler = MinMaxScaler()
shopping = shopping_df.copy()
shopping = scaler.fit_transform(shopping)*100

In [17]:
shopping = pd.DataFrame(shopping)
shopping.columns = shopping_df.columns
shopping

,SHC_SCRT3_SUM,SHC_SCRT4_SUM,SHC_SCRT5_SUM,SP_SSM_CNT,SP_DPRT_CNT,SP_BRND_CNT,SP_SM_CNT,SP_OTLT_CNT,margin,department_store,large_discount_store,small_distribution_store,shopping_score
0,30.339841,76.486716,45.158646,50.0,75.0,0.0,100.0,50.0,41.494847,75.0,100.0,50.0,71.986913
1,17.372500,46.547808,56.518516,75.0,50.0,75.0,25.0,25.0,9.178970,25.0,50.0,100.0,53.480927
2,64.210704,42.908618,38.998711,25.0,100.0,25.0,50.0,0.0,54.772466,100.0,50.0,25.0,57.144903
3,37.757980,61.320355,43.974026,75.0,50.0,25.0,75.0,50.0,39.857904,100.0,75.0,50.0,69.847210
4,7.879725,61.071397,54.417616,50.0,25.0,75.0,50.0,0.0,21.795495,0.0,75.0,75.0,29.007512
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,12.995997,59.090777,81.377865,0.0,0.0,50.0,100.0,0.0,20.503503,25.0,75.0,100.0,14.266303
221,35.528366,55.812970,51.287247,75.0,50.0,25.0,75.0,100.0,59.321418,100.0,75.0,75.0,89.106759
222,16.303271,19.163119,52.411722,0.0,50.0,100.0,50.0,50.0,19.326698,25.0,0.0,75.0,51.260225
223,3.851543,100.000000,33.878396,25.0,0.0,100.0,0.0,50.0,16.721656,0.0,100.0,25.0,30.326563
224,22.407175,30.353249,48.130813,0.0,50.0,100.0,50.0,50.0,15.902585,50.0,25.0,50.0,55.367026

## Culture_Self_Score

In [18]:
cs_df = data[['SHC_SCRT7_SUM','SHC_SCRT11_SUM','SHC_SCRT24_SUM','SHC_SCRT6_SUM','SHC_SCRT2_SUM','GM_CNT','GLF_CNT',
             'preferred_leisure','여가/오락','의류/패션잡화']]

In [19]:
cs_df.head()

,SHC_SCRT7_SUM,SHC_SCRT11_SUM,SHC_SCRT24_SUM,SHC_SCRT6_SUM,SHC_SCRT2_SUM,GM_CNT,GLF_CNT,preferred_leisure,여가/오락,의류/패션잡화
0,0.264049,0.304241,0.261944,0.339269,0.343557,0.274159,0.255564,0.288002,0.116336,0.123366
1,0.056546,0.072671,0.027240,0.084130,0.086971,0.071237,0.048450,0.159096,0.532689,0.014053
2,0.701559,0.694194,0.490306,0.784425,0.372881,0.423549,0.614840,0.318681,0.519195,1.000000
3,0.326754,0.354085,0.315641,0.450015,0.252527,0.346514,0.351199,0.252512,0.157893,0.133747
4,0.222227,0.220402,0.089169,0.231039,0.380846,0.190252,0.162583,0.209538,0.089835,0.092655

In [20]:
cs_df['margin'] = cs_df.sum(axis=1)
cs_df

,SHC_SCRT7_SUM,SHC_SCRT11_SUM,SHC_SCRT24_SUM,SHC_SCRT6_SUM,SHC_SCRT2_SUM,GM_CNT,GLF_CNT,preferred_leisure,여가/오락,의류/패션잡화,margin
0,0.264049,0.304241,0.261944,0.339269,0.343557,0.274159,0.255564,0.288002,0.116336,0.123366,2.570487
1,0.056546,0.072671,0.027240,0.084130,0.086971,0.071237,0.048450,0.159096,0.532689,0.014053,1.153084
2,0.701559,0.694194,0.490306,0.784425,0.372881,0.423549,0.614840,0.318681,0.519195,1.000000,5.919629
3,0.326754,0.354085,0.315641,0.450015,0.252527,0.346514,0.351199,0.252512,0.157893,0.133747,2.940886
4,0.222227,0.220402,0.089169,0.231039,0.380846,0.190252,0.162583,0.209538,0.089835,0.092655,1.888548
...,...,...,...,...,...,...,...,...,...,...,...
220,0.221525,0.210064,0.045028,0.276472,0.533367,0.226784,0.146817,0.197052,0.043049,0.025438,1.925596
221,0.413078,0.437686,0.310731,0.417485,0.495263,0.493333,0.360465,0.483106,0.337470,0.110588,3.859205
222,0.113198,0.153779,0.065013,0.158313,0.294047,0.124069,0.065593,0.290563,0.076651,0.015533,1.356760
223,0.072345,0.082182,0.036428,0.074779,0.229828,0.163082,0.075366,0.145340,0.025985,0.000000,0.905335
224,0.081573,0.134707,0.020832,0.113362,0.302910,0.086022,0.077519,0.196664,0.013860,0.003714,1.031163

In [21]:
cs_df.SHC_SCRT7_SUM = cs_df.SHC_SCRT7_SUM/cs_df.margin
cs_df.SHC_SCRT11_SUM = cs_df.SHC_SCRT7_SUM/cs_df.margin
cs_df.SHC_SCRT24_SUM = cs_df.SHC_SCRT7_SUM/cs_df.margin
cs_df.SHC_SCRT6_SUM = cs_df.SHC_SCRT7_SUM/cs_df.margin
cs_df.SHC_SCRT2_SUM = cs_df.SHC_SCRT7_SUM/cs_df.margin
cs_df.GM_CNT = cs_df.SHC_SCRT7_SUM/cs_df.margin
cs_df.GLF_CNT = cs_df.SHC_SCRT7_SUM/cs_df.margin
cs_df.preferred_leisure = cs_df.preferred_leisure/cs_df.margin
cs_df['여가/오락'] = cs_df['여가/오락']/cs_df.margin
cs_df['의류/패션잡화'] = cs_df['의류/패션잡화']/cs_df.margin

In [22]:
cs_weight = entropy_weight(cs_df.drop(['margin'],axis=1))

In [23]:
cs_weight

[0.009080971487042299,
 0.12982351585421412,
 0.12982351585421412,
 0.12982351585421412,
 0.12982351585421412,
 0.12982351585421412,
 0.12982351585421412,
 0.019126553084743335,
 0.09092236644472124,
 0.10192901385820846]

In [24]:
cs_df['sports'] = pd.qcut(cs_df['SHC_SCRT7_SUM'],q=5,labels=range(1,6)).astype(int)
cs_df['beauty'] = pd.qcut(cs_df['SHC_SCRT11_SUM'],q=5,labels=range(1,6)).astype(int)
cs_df['starbucks'] = pd.qcut(cs_df['SHC_SCRT24_SUM'],q=5,labels=range(1,6)).astype(int)
cs_df['clothes'] = pd.qcut(cs_df['SHC_SCRT6_SUM'],q=5,labels=range(1,6)).astype(int)
cs_df['adult entertainment'] = pd.qcut(cs_df['SHC_SCRT2_SUM'],q=5,labels=range(1,6)).astype(int)
cs_df['game'] = pd.qcut(cs_df['GM_CNT'],q=5,labels=range(1,6)).astype(int)
cs_df['glf'] = pd.qcut(cs_df['GLF_CNT'],q=5,labels=range(1,6)).astype(int)
cs_df['pl'] = pd.qcut(cs_df['preferred_leisure'],q=5,labels=range(1,6)).astype(int)
cs_df['leisure/entertainment'] = pd.qcut(cs_df['여가/오락'],q=5,labels=range(1,6)).astype(int)
cs_df['clothing/fashion'] = pd.qcut(cs_df['의류/패션잡화'],q=5,labels=range(1,6)).astype(int)

In [25]:
cs_df['cs_score'] = (cs_weight[0]*cs_df['sports'] + 
                                 cs_weight[1]*cs_df['beauty']+
                                 cs_weight[2]*cs_df['starbucks']+
                                 cs_weight[3]*cs_df['clothes'] + 
                                 cs_weight[4]*cs_df['adult entertainment']+
                                 cs_weight[5]*cs_df['game']+
                                 cs_weight[6]*cs_df['glf']+
                                 cs_weight[7]*cs_df['pl']+
                                 cs_weight[8]*cs_df['leisure/entertainment']+
                                 cs_weight[9]*cs_df['clothing/fashion'])

In [26]:
cs_df

,SHC_SCRT7_SUM,SHC_SCRT11_SUM,SHC_SCRT24_SUM,SHC_SCRT6_SUM,SHC_SCRT2_SUM,GM_CNT,GLF_CNT,preferred_leisure,여가/오락,의류/패션잡화,...,beauty,starbucks,clothes,adult entertainment,game,glf,pl,leisure/entertainment,clothing/fashion,cs_score
0,0.102723,0.039963,0.039963,0.039963,0.039963,0.039963,0.039963,0.112042,0.045258,0.047993,...,2,2,2,2,2,2,2,4,5,2.496713
1,0.049039,0.042529,0.042529,0.042529,0.042529,0.042529,0.042529,0.137974,0.461969,0.012188,...,2,2,2,2,2,2,4,5,2,2.301939
2,0.118514,0.020021,0.020021,0.020021,0.020021,0.020021,0.020021,0.053835,0.087707,0.168930,...,1,1,1,1,1,1,1,5,5,1.807729
3,0.111107,0.037780,0.037780,0.037780,0.037780,0.037780,0.037780,0.085863,0.053689,0.045478,...,2,2,2,2,2,2,1,4,5,2.486667
4,0.117671,0.062308,0.062308,0.062308,0.062308,0.062308,0.062308,0.110952,0.047568,0.049062,...,4,4,4,4,4,4,2,4,5,4.072757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.115042,0.059744,0.059744,0.059744,0.059744,0.059744,0.059744,0.102333,0.022356,0.013210,...,3,3,3,3,3,3,2,1,2,2.706181
221,0.107037,0.027736,0.027736,0.027736,0.027736,0.027736,0.027736,0.125183,0.087446,0.028656,...,1,1,1,1,1,1,3,5,4,1.734973
222,0.083433,0.061494,0.061494,0.061494,0.061494,0.061494,0.061494,0.214160,0.056496,0.011449,...,3,3,3,3,3,3,5,5,1,2.998078
223,0.079910,0.088266,0.088266,0.088266,0.088266,0.088266,0.088266,0.160537,0.028702,0.000000,...,4,4,4,4,4,4,5,2,1,3.504252
224,0.079108,0.076717,0.076717,0.076717,0.076717,0.076717,0.076717,0.190721,0.013441,0.003601,...,4,4,4,4,4,4,5,1,1,3.413329

In [27]:
scaler = MinMaxScaler()
culture_self = cs_df.copy()
culture_self = scaler.fit_transform(culture_self)*100

In [28]:
culture_self = pd.DataFrame(culture_self)
culture_self.columns = cs_df.columns
culture_self

,SHC_SCRT7_SUM,SHC_SCRT11_SUM,SHC_SCRT24_SUM,SHC_SCRT6_SUM,SHC_SCRT2_SUM,GM_CNT,GLF_CNT,preferred_leisure,여가/오락,의류/패션잡화,...,beauty,starbucks,clothes,adult entertainment,game,glf,pl,leisure/entertainment,clothing/fashion,cs_score
0,40.723020,4.296960,4.296960,4.296960,4.296960,4.296960,4.296960,34.122680,9.796843,19.386062,...,25.0,25.0,25.0,25.0,25.0,25.0,25.0,75.0,100.0,37.368794
1,19.440859,4.572894,4.572894,4.572894,4.572894,4.572894,4.572894,42.020574,100.000000,4.923003,...,25.0,25.0,25.0,25.0,25.0,25.0,75.0,100.0,25.0,32.311972
2,46.983009,2.152698,2.152698,2.152698,2.152698,2.152698,2.152698,16.395506,18.985537,68.236133,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,19.481012
3,44.046822,4.062311,4.062311,4.062311,4.062311,4.062311,4.062311,26.149730,11.621743,18.370173,...,25.0,25.0,25.0,25.0,25.0,25.0,0.0,75.0,100.0,37.107985
4,46.648716,6.699595,6.699595,6.699595,6.699595,6.699595,6.699595,33.790840,10.296853,19.817595,...,75.0,75.0,75.0,75.0,75.0,75.0,25.0,75.0,100.0,78.286959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,45.606693,6.423921,6.423921,6.423921,6.423921,6.423921,6.423921,31.165947,4.839325,5.336099,...,50.0,50.0,50.0,50.0,50.0,50.0,25.0,0.0,25.0,42.807121
221,42.433204,2.982255,2.982255,2.982255,2.982255,2.982255,2.982255,38.124821,18.928865,11.574927,...,0.0,0.0,0.0,0.0,0.0,0.0,50.0,100.0,75.0,17.592056
222,33.075564,6.612123,6.612123,6.612123,6.612123,6.612123,6.612123,65.223060,12.229360,4.624425,...,50.0,50.0,50.0,50.0,50.0,50.0,100.0,100.0,0.0,50.385524
223,31.679105,9.490751,9.490751,9.490751,9.490751,9.490751,9.490751,48.892211,6.212971,0.000000,...,75.0,75.0,75.0,75.0,75.0,75.0,100.0,25.0,0.0,63.527105
224,31.361053,8.248981,8.248981,8.248981,8.248981,8.248981,8.248981,58.084759,2.909500,1.454723,...,75.0,75.0,75.0,75.0,75.0,75.0,100.0,0.0,0.0,61.166526

## High_End_Score

In [29]:
he_df = data[['HE_LXR_IDX_SUM','HE_DPRT_IDX_SUM','HE1_CNT','HE2_CNT','HE4_CNT','LXR_CNT']]

In [30]:
he_df.head()

   HE_LXR_IDX_SUM  HE_DPRT_IDX_SUM   HE1_CNT   HE2_CNT   HE4_CNT   LXR_CNT
0        0.325668         0.331950  0.442702  0.210861  0.308110  0.365297
1        0.059037         0.073929  0.112224  0.021502  0.052570  0.059980
2        0.527315         0.616739  0.854786  0.521708  0.936899  0.803134
3        0.331519         0.460728  0.354660  0.235277  0.367300  0.313996
4        0.143595         0.087759  0.198411  0.049973  0.173272  0.061043

In [31]:
he_df['margin'] = he_df.sum(axis=1)
he_df

,HE_LXR_IDX_SUM,HE_DPRT_IDX_SUM,HE1_CNT,HE2_CNT,HE4_CNT,LXR_CNT,margin
0,0.325668,0.331950,0.442702,0.210861,0.308110,0.365297,1.984587
1,0.059037,0.073929,0.112224,0.021502,0.052570,0.059980,0.379241
2,0.527315,0.616739,0.854786,0.521708,0.936899,0.803134,4.260581
3,0.331519,0.460728,0.354660,0.235277,0.367300,0.313996,2.063480
4,0.143595,0.087759,0.198411,0.049973,0.173272,0.061043,0.714054
...,...,...,...,...,...,...,...
220,0.141974,0.088405,0.184581,0.040138,0.114698,0.062317,0.632112
221,0.394458,0.439643,0.552578,0.292966,0.255140,0.400780,2.335566
222,0.134664,0.095639,0.184870,0.025582,0.212078,0.058002,0.710835
223,0.075567,0.049987,0.071363,0.020069,0.054517,0.034274,0.305777
224,0.052739,0.049828,0.132942,0.016485,0.099299,0.068548,0.419842

In [32]:
he_df.HE_LXR_IDX_SUM = he_df.HE_LXR_IDX_SUM/he_df.margin
he_df.HE_DPRT_IDX_SUM = he_df.HE_DPRT_IDX_SUM/he_df.margin
he_df.HE1_CNT = he_df.HE1_CNT/he_df.margin
he_df.HE2_CNT = he_df.HE2_CNT/he_df.margin
he_df.HE4_CNT = he_df.HE4_CNT/he_df.margin
he_df.LXR_CNT = he_df.LXR_CNT/he_df.margin

In [33]:
he_df.fillna(0,inplace=True)

In [34]:
he_weight = entropy_weight(he_df.drop(['margin'],axis=1))

In [35]:
he_weight

[0.08669581562555743,
 0.07501501888554964,
 0.07067041121212371,
 0.2664987704157662,
 0.16716111384015006,
 0.333958870020853]

In [36]:
he_df['lxr'] = pd.qcut(he_df['HE_LXR_IDX_SUM'],q=5,labels=range(1,6)).astype(int)
he_df['dprt'] = pd.qcut(he_df['HE_DPRT_IDX_SUM'],q=5,labels=range(1,6)).astype(int)
he_df['he1'] = pd.qcut(he_df['HE1_CNT'],q=5,labels=range(1,6)).astype(int)
he_df['he2'] = pd.qcut(he_df['HE2_CNT'],q=5,labels=range(1,6)).astype(int)
he_df['he4'] = pd.qcut(he_df['HE4_CNT'],q=5,labels=range(1,6)).astype(int)
he_df['lxrc'] = pd.qcut(he_df['LXR_CNT'],q=5,labels=range(1,6)).astype(int)

In [37]:
he_df['he_score'] = (he_weight[0]*he_df['lxr'] + 
                                 he_weight[1]*he_df['dprt']+
                                 he_weight[2]*he_df['he1']+
                                 he_weight[3]*he_df['he2'] + 
                                 he_weight[4]*he_df['he4']+
                                 he_weight[5]*he_df['lxrc'])

In [38]:
he_df

,HE_LXR_IDX_SUM,HE_DPRT_IDX_SUM,HE1_CNT,HE2_CNT,HE4_CNT,LXR_CNT,margin,lxr,dprt,he1,he2,he4,lxrc,he_score
0,0.164099,0.167264,0.223070,0.106249,0.155251,0.184067,1.984587,2,2,2,5,2,5,3.801373
1,0.155670,0.194939,0.295916,0.056698,0.138619,0.158157,0.379241,1,3,4,2,2,5,3.131537
2,0.123766,0.144755,0.200627,0.122450,0.219899,0.188503,4.260581,1,1,1,5,5,5,4.070475
3,0.160660,0.223277,0.171875,0.114019,0.178000,0.152168,2.063480,1,4,1,5,4,4,3.794400
4,0.201099,0.122902,0.277866,0.069985,0.242660,0.085488,0.714054,4,1,4,3,5,2,3.007700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.224602,0.139857,0.292006,0.063498,0.181453,0.098585,0.632112,5,1,4,3,4,3,3.261193
221,0.168892,0.188238,0.236593,0.125437,0.109241,0.171598,2.335566,2,3,2,5,1,5,3.709227
222,0.189444,0.134544,0.260075,0.035989,0.298350,0.081598,0.710835,3,1,3,1,5,2,2.317336
223,0.247130,0.163476,0.233382,0.065632,0.178291,0.112089,0.305777,5,2,2,3,4,3,3.194867
224,0.125617,0.118682,0.316648,0.039265,0.236516,0.163272,0.419842,1,1,5,1,5,5,3.287162

In [39]:
scaler = MinMaxScaler()
he = he_df.copy()
he = scaler.fit_transform(he)*100

In [40]:
he = pd.DataFrame(he)
he.columns = he_df.columns
he

,HE_LXR_IDX_SUM,HE_DPRT_IDX_SUM,HE1_CNT,HE2_CNT,HE4_CNT,LXR_CNT,margin,lxr,dprt,he1,he2,he4,lxrc,he_score
0,32.479204,47.505734,42.302795,52.379944,31.044596,54.904287,34.326798,25.0,25.0,25.0,100.0,25.0,100.0,89.214569
1,30.810954,55.365900,56.117336,27.951663,27.718762,47.175929,6.559622,0.0,50.0,75.0,25.0,25.0,100.0,67.882473
2,24.496336,41.112771,38.046664,60.366624,43.971859,56.227679,73.693974,0.0,0.0,0.0,100.0,100.0,100.0,97.784590
3,31.798584,63.414547,32.594213,56.210474,35.593541,45.389407,35.691380,0.0,75.0,0.0,100.0,75.0,75.0,88.992507
4,39.802384,34.906298,52.694217,34.502050,48.523176,25.499780,12.350770,75.0,0.0,75.0,50.0,100.0,25.0,63.938666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,44.454353,39.721639,55.375767,31.303713,36.283889,29.406353,10.933453,100.0,0.0,75.0,50.0,75.0,50.0,72.011608
221,33.427908,53.462854,44.867268,61.839248,21.844270,51.185191,40.397567,25.0,50.0,25.0,100.0,0.0,100.0,86.280017
222,37.495741,38.212856,49.320356,17.742207,59.659087,24.339316,12.295103,50.0,0.0,50.0,0.0,100.0,25.0,41.952838
223,48.913200,46.429995,44.258336,32.356042,35.651604,33.434388,5.288930,100.0,25.0,25.0,50.0,75.0,50.0,69.899348
224,24.862730,33.707825,60.048830,19.357281,47.294472,48.701524,7.261873,0.0,0.0,100.0,0.0,100.0,100.0,72.838619

## Travel_Score

In [41]:
travel_df = data[['SHC_SCRT8_SUM','SHC_SCRT9_SUM','SHC_SCRT21_SUM','SHC_SCRT22_SUM','SHC_SCRT23_SUM',
                  'TRVL_CNT','preferred_tourist','교통/숙박/여행']]

In [42]:
travel_df.head()

,SHC_SCRT8_SUM,SHC_SCRT9_SUM,SHC_SCRT21_SUM,SHC_SCRT22_SUM,SHC_SCRT23_SUM,TRVL_CNT,preferred_tourist,교통/숙박/여행
0,0.246402,0.331707,0.159152,0.033434,0.210940,0.254913,0.358462,0.016672
1,0.049506,0.114229,0.005159,0.007691,0.000000,0.078162,0.102901,0.019684
2,0.787239,0.681783,1.000000,0.066169,0.758172,0.597209,0.363682,0.062653
3,0.305063,0.345594,0.263374,0.036586,0.236235,0.320117,0.297955,0.011955
4,0.159156,0.197884,0.063114,0.012591,0.051801,0.189170,0.189118,0.029933

In [43]:
travel_df['margin'] = travel_df.sum(axis=1)
travel_df

,SHC_SCRT8_SUM,SHC_SCRT9_SUM,SHC_SCRT21_SUM,SHC_SCRT22_SUM,SHC_SCRT23_SUM,TRVL_CNT,preferred_tourist,교통/숙박/여행,margin
0,0.246402,0.331707,0.159152,0.033434,0.210940,0.254913,0.358462,0.016672,1.611681
1,0.049506,0.114229,0.005159,0.007691,0.000000,0.078162,0.102901,0.019684,0.377331
2,0.787239,0.681783,1.000000,0.066169,0.758172,0.597209,0.363682,0.062653,4.316906
3,0.305063,0.345594,0.263374,0.036586,0.236235,0.320117,0.297955,0.011955,1.816878
4,0.159156,0.197884,0.063114,0.012591,0.051801,0.189170,0.189118,0.029933,0.892766
...,...,...,...,...,...,...,...,...,...
220,0.118296,0.120769,0.003545,0.006599,0.000000,0.170853,0.255517,0.064862,0.740442
221,0.302699,0.384970,0.188221,0.039115,0.318471,0.326180,0.324145,0.018149,1.901950
222,0.067371,0.109309,0.010519,0.009495,0.012041,0.033085,0.265730,0.004832,0.512382
223,0.034980,0.063866,0.012999,0.002292,0.000000,0.066230,0.163988,0.003101,0.347455
224,0.054765,0.056288,0.001140,0.006787,0.000000,0.079184,0.184895,0.006108,0.389167

In [44]:
travel_df.SHC_SCRT8_SUM = travel_df.SHC_SCRT8_SUM/travel_df.margin
travel_df.SHC_SCRT9_SUM = travel_df.SHC_SCRT9_SUM/travel_df.margin
travel_df.SHC_SCRT21_SUM = travel_df.SHC_SCRT21_SUM/travel_df.margin
travel_df.SHC_SCRT22_SUM = travel_df.SHC_SCRT22_SUM/travel_df.margin
travel_df.SHC_SCRT23_SUM = travel_df.SHC_SCRT8_SUM/travel_df.margin
travel_df.TRVL_CNT = travel_df.SHC_SCRT23_SUM/travel_df.margin
travel_df.preferred_tourist = travel_df.preferred_tourist/travel_df.margin
travel_df['교통/숙박/여행'] = travel_df['교통/숙박/여행']/travel_df.margin

In [45]:
travel_weight = entropy_weight(travel_df.drop(['margin'],axis=1))

In [46]:
travel_weight

[0.010644129014551225,
 0.016853949554807846,
 0.052538034142037414,
 0.0808617294087291,
 0.20353813425342232,
 0.4920959640433714,
 0.019303488076848216,
 0.12416457150623257]

In [47]:
travel_df['accomodation'] = pd.qcut(travel_df['SHC_SCRT8_SUM'],q=5,labels=range(1,6)).astype(int)
travel_df['travel'] = pd.qcut(travel_df['SHC_SCRT9_SUM'],q=5,labels=range(1,6)).astype(int)
travel_df['hotel'] = pd.qcut(travel_df['SHC_SCRT21_SUM'],q=5,labels=range(1,6)).astype(int)
travel_df['jeju'] = pd.qcut(travel_df['SHC_SCRT22_SUM'],q=5,labels=range(1,6)).astype(int)
travel_df['overseas'] = pd.qcut(travel_df['SHC_SCRT23_SUM'],q=4,labels=range(1,5)).astype(int)
travel_df['domestic'] = pd.qcut(travel_df['TRVL_CNT'],q=5,labels=range(1,6)).astype(int)
travel_df['pt'] = pd.qcut(travel_df['preferred_tourist'],q=5,labels=range(1,6)).astype(int)
travel_df['traffic/accommodation/trip'] = pd.qcut(travel_df['교통/숙박/여행'],q=5,labels=range(1,6)).astype(int)

In [48]:
travel_df['travel_score'] = (travel_weight[0]*travel_df['accomodation'] + 
                                 travel_weight[1]*travel_df['travel']+
                                 travel_weight[2]*travel_df['hotel']+
                                 travel_weight[3]*travel_df['jeju'] + 
                                 travel_weight[4]*travel_df['overseas']+
                                 travel_weight[5]*travel_df['domestic']+
                                 travel_weight[6]*travel_df['pt']+
                                 travel_weight[7]*travel_df['traffic/accommodation/trip'])

In [49]:
travel_df

,SHC_SCRT8_SUM,SHC_SCRT9_SUM,SHC_SCRT21_SUM,SHC_SCRT22_SUM,SHC_SCRT23_SUM,TRVL_CNT,preferred_tourist,교통/숙박/여행,margin,accomodation,travel,hotel,jeju,overseas,domestic,pt,traffic/accommodation/trip,travel_score
0,0.152885,0.205814,0.098749,0.020745,0.094861,0.058858,0.222415,0.010345,1.611681,3,3,4,4,1,2,3,3,2.234228
1,0.131200,0.302728,0.013673,0.020382,0.347704,0.921482,0.272708,0.052166,0.377331,1,5,1,3,3,4,3,5,3.647769
2,0.182362,0.157933,0.231647,0.015328,0.042244,0.009786,0.084246,0.014513,4.316906,5,1,5,2,1,1,1,4,1.706084
3,0.167905,0.190213,0.144960,0.020137,0.092414,0.050864,0.163993,0.006580,1.816878,4,2,5,3,1,1,1,2,1.544827
4,0.178273,0.221652,0.070694,0.014103,0.199686,0.223671,0.211834,0.033529,0.892766,4,4,3,2,3,3,2,5,3.175662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.159764,0.163104,0.004788,0.008912,0.215769,0.291406,0.345088,0.087599,0.740442,3,2,1,1,3,3,4,5,2.983979
221,0.159152,0.202408,0.098962,0.020566,0.083678,0.043996,0.170428,0.009542,1.901950,3,3,4,4,1,1,1,2,1.579360
222,0.131487,0.213335,0.020529,0.018531,0.256618,0.500835,0.518618,0.009430,0.512382,1,3,1,2,3,4,5,2,3.199312
223,0.100674,0.183810,0.037411,0.006597,0.289746,0.833908,0.471969,0.008924,0.347455,1,2,2,1,3,4,5,2,3.154135
224,0.140724,0.144637,0.002928,0.017439,0.361603,0.929172,0.475105,0.015695,0.389167,2,1,1,2,3,4,5,4,3.424578

In [50]:
scaler = MinMaxScaler()
travel = travel_df.copy()
travel = scaler.fit_transform(travel)*100

In [51]:
travel = pd.DataFrame(travel)
travel.columns = travel_df.columns
travel

,SHC_SCRT8_SUM,SHC_SCRT9_SUM,SHC_SCRT21_SUM,SHC_SCRT22_SUM,SHC_SCRT23_SUM,TRVL_CNT,preferred_tourist,교통/숙박/여행,margin,accomodation,travel,hotel,jeju,overseas,domestic,pt,traffic/accommodation/trip,travel_score
0,20.205974,48.421759,29.007002,4.213531,0.662948,0.009684,25.693642,2.402248,26.050096,50.0,50.0,75.0,75.0,0.000000,25.0,50.0,50.0,30.237374
1,17.339932,71.222700,4.016512,4.139696,2.429983,0.151614,31.503581,12.114048,5.817741,0.0,100.0,0.0,50.0,66.666667,75.0,50.0,100.0,72.330108
2,24.101733,37.156861,68.045342,3.113244,0.295226,0.001610,9.732211,3.370286,70.391710,100.0,0.0,100.0,25.0,0.000000,0.0,0.0,75.0,14.510204
3,22.191035,44.751344,42.581200,4.089965,0.645848,0.008369,18.944630,1.527997,29.413502,75.0,25.0,100.0,50.0,0.000000,0.0,0.0,25.0,9.708241
4,23.561287,52.148032,20.766154,2.864436,1.395533,0.036801,24.471315,7.786078,14.266283,75.0,75.0,50.0,25.0,66.666667,50.0,25.0,100.0,58.271614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,21.115170,38.373418,1.406409,1.810153,1.507934,0.047946,39.864948,20.342335,11.769521,50.0,25.0,0.0,0.0,66.666667,50.0,75.0,100.0,52.563640
221,21.034243,47.620428,29.069636,4.177082,0.584799,0.007239,19.688031,2.215871,30.807915,50.0,50.0,75.0,75.0,0.000000,0.0,0.0,25.0,10.736587
222,17.377839,50.191212,6.030196,3.763735,1.793416,0.082404,59.911426,2.189764,8.031360,0.0,50.0,0.0,25.0,66.666667,75.0,100.0,25.0,58.975878
223,13.305484,43.244952,10.989423,1.339901,2.024932,0.137205,54.522414,2.072270,5.328039,0.0,25.0,25.0,0.0,66.666667,75.0,100.0,25.0,57.630568
224,18.598729,34.028709,0.860104,3.542120,2.527120,0.152879,54.884749,3.644740,6.011742,25.0,0.0,0.0,25.0,66.666667,75.0,100.0,75.0,65.683879

## Public_Transportation_Score

In [52]:
pt_df = data[['SHC_SCRT10_SUM','SHC_BUS_WD_CNT','SHC_TAXI_WD_CNT',
              'SHC_KTX_WD_CNT','SHC_BUS_HD_CNT','SHC_TAXI_HD_CNT','SHC_KTX_HD_CNT','SUBW_US_CNT']]

In [53]:
pt_df.head()

,SHC_SCRT10_SUM,SHC_BUS_WD_CNT,SHC_TAXI_WD_CNT,SHC_KTX_WD_CNT,SHC_BUS_HD_CNT,SHC_TAXI_HD_CNT,SHC_KTX_HD_CNT,SUBW_US_CNT
0,0.457392,0.174842,0.156995,1.000000,0.173073,0.127630,1.000000,0.136508
1,0.070215,0.033840,0.056792,0.145744,0.040921,0.049716,0.250124,0.126789
2,0.567728,0.398118,0.598001,0.435902,0.430298,0.486031,0.454308,0.386885
3,0.306845,0.343149,0.263704,0.224644,0.359857,0.215134,0.215161,0.409119
4,0.199072,0.047202,0.215959,0.235981,0.051288,0.179573,0.293239,0.046864

In [54]:
pt_df['margin'] = pt_df.sum(axis=1)
pt_df

,SHC_SCRT10_SUM,SHC_BUS_WD_CNT,SHC_TAXI_WD_CNT,SHC_KTX_WD_CNT,SHC_BUS_HD_CNT,SHC_TAXI_HD_CNT,SHC_KTX_HD_CNT,SUBW_US_CNT,margin
0,0.457392,0.174842,0.156995,1.000000,0.173073,0.127630,1.000000,0.136508,3.226440
1,0.070215,0.033840,0.056792,0.145744,0.040921,0.049716,0.250124,0.126789,0.774142
2,0.567728,0.398118,0.598001,0.435902,0.430298,0.486031,0.454308,0.386885,3.757271
3,0.306845,0.343149,0.263704,0.224644,0.359857,0.215134,0.215161,0.409119,2.337613
4,0.199072,0.047202,0.215959,0.235981,0.051288,0.179573,0.293239,0.046864,1.269179
...,...,...,...,...,...,...,...,...,...
220,0.076476,0.027611,0.079362,0.036053,0.030759,0.076506,0.053640,0.066868,0.447275
221,0.363028,0.355892,0.283875,0.414983,0.341477,0.255469,0.441587,0.517336,2.973646
222,0.099639,0.076498,0.137416,0.061623,0.075497,0.119274,0.096695,0.112962,0.779605
223,0.060138,0.013314,0.068586,0.084604,0.020555,0.081659,0.098339,0.034567,0.461763
224,0.052051,0.021724,0.038059,0.103111,0.019855,0.026659,0.073755,0.035084,0.370298

In [55]:
pt_df.SHC_SCRT10_SUM = pt_df.SHC_SCRT10_SUM/pt_df.margin
pt_df.SHC_BUS_WD_CNT = pt_df.SHC_BUS_WD_CNT/pt_df.margin
pt_df.SHC_TAXI_WD_CNT = pt_df.SHC_TAXI_WD_CNT/pt_df.margin
pt_df.SHC_KTX_WD_CNT = pt_df.SHC_KTX_WD_CNT/pt_df.margin
pt_df.SHC_BUS_HD_CNT = pt_df.SHC_BUS_HD_CNT/pt_df.margin
pt_df.SHC_TAXI_HD_CNT = pt_df.SHC_TAXI_HD_CNT/pt_df.margin
pt_df.SHC_KTX_HD_CNT = pt_df.SHC_KTX_HD_CNT/pt_df.margin
pt_df.SUBW_US_CNT = pt_df.SUBW_US_CNT/pt_df.margin

In [56]:
pt_weight = entropy_weight(pt_df.drop(['margin'],axis=1))

In [57]:
pt_weight

[0.07288277985635687,
 0.14793786304843434,
 0.09103166802428637,
 0.1338062024110904,
 0.1283302516963975,
 0.09011229679086018,
 0.17091824176615406,
 0.16498069640642027]

In [58]:
pt_df['traffic'] = pd.qcut(pt_df['SHC_SCRT10_SUM'],q=5,labels=range(1,6)).astype(int)
pt_df['bus_wd'] = pd.qcut(pt_df['SHC_BUS_WD_CNT'],q=5,labels=range(1,6)).astype(int)
pt_df['taxi_wd'] = pd.qcut(pt_df['SHC_TAXI_WD_CNT'],q=5,labels=range(1,6)).astype(int)
pt_df['ktx_wd'] = pd.qcut(pt_df['SHC_KTX_WD_CNT'],q=5,labels=range(1,6)).astype(int)
pt_df['bus_hd'] = pd.qcut(pt_df['SHC_BUS_HD_CNT'],q=5,labels=range(1,6)).astype(int)
pt_df['taxi_hd'] = pd.qcut(pt_df['SHC_TAXI_HD_CNT'],q=5,labels=range(1,6)).astype(int)
pt_df['ktx_hd'] = pd.qcut(pt_df['SHC_KTX_HD_CNT'],q=5,labels=range(1,6)).astype(int)
pt_df['subway'] = pd.qcut(pt_df['SUBW_US_CNT'],q=5,labels=range(1,6)).astype(int)

In [59]:
pt_df['pt_score'] = (pt_weight[0]*pt_df['traffic'] + 
                                 pt_weight[1]*pt_df['bus_wd']+
                                 pt_weight[2]*pt_df['taxi_wd']+
                                 pt_weight[3]*pt_df['ktx_wd'] + 
                                 pt_weight[4]*pt_df['bus_hd']+
                                 pt_weight[5]*pt_df['taxi_hd']+
                                 pt_weight[6]*pt_df['ktx_hd']+
                                 pt_weight[7]*pt_df['SUBW_US_CNT'])

In [60]:
pt_df

,SHC_SCRT10_SUM,SHC_BUS_WD_CNT,SHC_TAXI_WD_CNT,SHC_KTX_WD_CNT,SHC_BUS_HD_CNT,SHC_TAXI_HD_CNT,SHC_KTX_HD_CNT,SUBW_US_CNT,margin,traffic,bus_wd,taxi_wd,ktx_wd,bus_hd,taxi_hd,ktx_hd,subway,pt_score
0,0.141764,0.054190,0.048659,0.309939,0.053642,0.039558,0.309939,0.042309,3.226440,3,2,1,5,2,1,5,1,2.482931
1,0.090701,0.043713,0.073361,0.188265,0.052860,0.064221,0.323099,0.163780,0.774142,1,2,1,4,2,1,5,4,2.223400
2,0.151101,0.105959,0.159158,0.116016,0.114524,0.129357,0.120914,0.102970,3.757271,4,4,4,3,4,3,3,3,2.962228
3,0.131264,0.146795,0.112809,0.096100,0.153942,0.092032,0.092043,0.175016,2.337613,3,5,2,3,5,2,2,5,2.734406
4,0.156851,0.037191,0.170157,0.185932,0.040411,0.141488,0.231046,0.036925,1.269179,4,1,4,4,1,4,4,1,2.517365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.170982,0.061731,0.177435,0.080606,0.068769,0.171050,0.119925,0.149501,0.447275,4,2,4,2,2,4,3,4,2.373675
221,0.122082,0.119682,0.095464,0.139554,0.114834,0.085911,0.148500,0.173974,2.973646,2,4,2,4,4,2,4,5,2.860726
222,0.127807,0.098124,0.176264,0.079044,0.096841,0.152993,0.124031,0.144897,0.779605,3,3,4,2,3,4,3,4,2.576301
223,0.130236,0.028832,0.148531,0.183220,0.044514,0.176843,0.212965,0.074859,0.461763,3,1,4,4,1,5,4,3,2.540853
224,0.140565,0.058665,0.102780,0.278455,0.053620,0.071994,0.199176,0.094745,0.370298,3,2,2,5,2,1,4,3,2.411695

In [61]:
scaler = MinMaxScaler()
pt = pt_df.copy()
pt = scaler.fit_transform(pt)*100

In [62]:
pt = pd.DataFrame(pt)
pt.columns = pt_df.columns
pt

,SHC_SCRT10_SUM,SHC_BUS_WD_CNT,SHC_TAXI_WD_CNT,SHC_KTX_WD_CNT,SHC_BUS_HD_CNT,SHC_TAXI_HD_CNT,SHC_KTX_HD_CNT,SUBW_US_CNT,margin,traffic,bus_wd,taxi_wd,ktx_wd,bus_hd,taxi_hd,ktx_hd,subway,pt_score
0,18.023186,17.597014,13.591911,95.687201,19.963647,12.808626,49.891247,6.045903,46.538707,50.0,25.0,0.0,100.0,25.0,0.0,100.0,0.0,58.005815
1,11.531319,14.194744,20.491944,58.122876,19.672680,20.794538,52.009557,23.403829,11.092772,0.0,25.0,0.0,75.0,25.0,0.0,100.0,75.0,44.067366
2,19.210334,34.407691,44.457808,35.817410,42.621744,41.885555,19.463721,14.714132,54.211425,75.0,75.0,75.0,50.0,75.0,50.0,50.0,50.0,83.747071
3,16.688355,47.667982,31.511079,29.668825,57.291685,29.799544,14.816239,25.009336,33.691452,50.0,100.0,25.0,50.0,100.0,25.0,25.0,100.0,71.511594
4,19.941357,12.076792,47.529954,57.402523,15.039429,45.813307,37.191814,5.276471,18.248122,75.0,0.0,75.0,75.0,0.0,75.0,75.0,0.0,59.855123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,21.737916,20.045655,49.563109,24.885275,25.593492,55.385455,19.304523,21.363393,6.368194,75.0,25.0,75.0,25.0,25.0,75.0,50.0,75.0,52.138099
221,15.520935,38.863820,26.665939,43.084252,42.737234,27.817686,23.904221,24.860432,42.884785,25.0,75.0,25.0,75.0,75.0,25.0,75.0,100.0,78.295757
222,16.248795,31.863453,49.235942,24.403024,36.040573,49.538743,19.965361,20.705456,11.171739,50.0,50.0,75.0,25.0,50.0,75.0,50.0,75.0,63.020360
223,16.557627,9.362642,41.489321,56.565309,16.566447,57.261081,34.281264,10.697148,6.577593,50.0,0.0,75.0,75.0,0.0,100.0,75.0,50.0,61.116569
224,17.870822,19.050114,28.709685,85.966998,19.955350,23.311519,32.061590,13.538814,5.255554,50.0,25.0,25.0,100.0,25.0,0.0,75.0,50.0,54.180013

## Car_Score

In [63]:
car_df = data[['SHC_SCRT16_SUM','SHC_SCRT17_SUM','SHC_SCRT18_SUM','SHC_HPAS_WD_CNT','SHC_HPAS_HD_CNT',
              'NAVI_US_CNT','IMPRT_CAR_IDX_SUM','car_cnt','CR_CNT']]

In [64]:
car_df.head()

,SHC_SCRT16_SUM,SHC_SCRT17_SUM,SHC_SCRT18_SUM,SHC_HPAS_WD_CNT,SHC_HPAS_HD_CNT,NAVI_US_CNT,IMPRT_CAR_IDX_SUM,car_cnt,CR_CNT
0,0.540919,0.389260,0.466264,0.308432,0.338395,0.452238,0.691266,0.582456,0.514011
1,0.253685,0.121151,0.142810,0.065095,0.073793,0.085233,0.141637,0.205361,0.104397
2,0.348759,0.298595,0.261631,0.277269,0.279296,0.429570,0.492542,0.234199,0.401486
3,0.324334,0.258689,0.316743,0.350107,0.337958,0.408604,0.463049,0.275077,0.404797
4,0.573891,0.344012,0.357929,0.137688,0.126303,0.145973,0.242959,0.348108,0.234729

In [65]:
car_df['margin'] = car_df.sum(axis=1)
car_df

,SHC_SCRT16_SUM,SHC_SCRT17_SUM,SHC_SCRT18_SUM,SHC_HPAS_WD_CNT,SHC_HPAS_HD_CNT,NAVI_US_CNT,IMPRT_CAR_IDX_SUM,car_cnt,CR_CNT,margin
0,0.540919,0.389260,0.466264,0.308432,0.338395,0.452238,0.691266,0.582456,0.514011,4.283242
1,0.253685,0.121151,0.142810,0.065095,0.073793,0.085233,0.141637,0.205361,0.104397,1.193162
2,0.348759,0.298595,0.261631,0.277269,0.279296,0.429570,0.492542,0.234199,0.401486,3.023348
3,0.324334,0.258689,0.316743,0.350107,0.337958,0.408604,0.463049,0.275077,0.404797,3.139357
4,0.573891,0.344012,0.357929,0.137688,0.126303,0.145973,0.242959,0.348108,0.234729,2.511593
...,...,...,...,...,...,...,...,...,...,...
220,0.379703,0.443247,0.512265,0.207614,0.205426,0.174551,0.303030,0.454462,0.308805,2.989103
221,0.765745,0.583217,0.700424,0.774565,0.756933,0.634723,0.799281,0.866768,0.702952,6.584607
222,0.212604,0.264281,0.288164,0.254188,0.255505,0.133157,0.212599,0.304506,0.222966,2.147971
223,0.201392,0.157664,0.119845,0.024369,0.038714,0.092001,0.217826,0.254257,0.114632,1.220699
224,0.281767,0.274117,0.308423,0.114944,0.113466,0.098425,0.128147,0.293373,0.178966,1.791630

In [66]:
car_df.SHC_SCRT16_SUM = car_df.SHC_SCRT16_SUM/car_df.margin
car_df.SHC_SCRT17_SUM = car_df.SHC_SCRT17_SUM/car_df.margin
car_df.SHC_SCRT18_SUM = car_df.SHC_SCRT18_SUM/car_df.margin
car_df.SHC_HPAS_WD_CNT = car_df.SHC_HPAS_WD_CNT/car_df.margin
car_df.SHC_HPAS_HD_CNT = car_df.SHC_HPAS_HD_CNT/car_df.margin
car_df.NAVI_US_CNT = car_df.NAVI_US_CNT/car_df.margin
car_df.IMPRT_CAR_IDX_SUM = car_df.IMPRT_CAR_IDX_SUM/car_df.margin
car_df.car_cnt = car_df.car_cnt/car_df.margin
car_df.CR_CNT = car_df.CR_CNT/car_df.margin

In [67]:
car_weight = entropy_weight(car_df.drop(['margin'],axis=1))

In [68]:
car_weight

[0.3128768610929002,
 0.06892994351198797,
 0.08516036234837158,
 0.14520968695931197,
 0.1075784143170775,
 0.09451474325517552,
 0.05522639926926135,
 0.0779144115279501,
 0.052589177717963835]

In [69]:
car_df['car_sell'] = pd.qcut(car_df['SHC_SCRT16_SUM'],q=5,labels=range(1,6)).astype(int)
car_df['car_service'] = pd.qcut(car_df['SHC_SCRT17_SUM'],q=5,labels=range(1,6)).astype(int)
car_df['refueling'] = pd.qcut(car_df['SHC_SCRT18_SUM'],q=5,labels=range(1,6)).astype(int)
car_df['hpas_wd'] = pd.qcut(car_df['SHC_HPAS_WD_CNT'],q=5,labels=range(1,6)).astype(int)
car_df['hpas_hd'] = pd.qcut(car_df['SHC_HPAS_HD_CNT'],q=5,labels=range(1,6)).astype(int)
car_df['navi'] = pd.qcut(car_df['NAVI_US_CNT'],q=5,labels=range(1,6)).astype(int)
car_df['imprt'] = pd.qcut(car_df['IMPRT_CAR_IDX_SUM'],q=5,labels=range(1,6)).astype(int)
car_df['car_cnt'] = pd.qcut(car_df['car_cnt'],q=5,labels=range(1,6)).astype(int)
car_df['car_use'] = pd.qcut(car_df['CR_CNT'],q=5,labels=range(1,6)).astype(int)

In [70]:
car_df['car_score'] = (car_weight[0]*car_df['car_sell'] + 
                                 car_weight[1]*car_df['car_service']+
                                 car_weight[2]*car_df['refueling'] + 
                                 car_weight[3]*car_df['hpas_wd']+
                                 car_weight[4]*car_df['hpas_hd']+
                                 car_weight[5]*car_df['navi']+
                                 car_weight[6]*car_df['imprt']+
                                 car_weight[7]*car_df['car_cnt']+
                                 car_weight[8]*car_df['car_use'])

In [71]:
car_df

,SHC_SCRT16_SUM,SHC_SCRT17_SUM,SHC_SCRT18_SUM,SHC_HPAS_WD_CNT,SHC_HPAS_HD_CNT,NAVI_US_CNT,IMPRT_CAR_IDX_SUM,car_cnt,CR_CNT,margin,car_sell,car_service,refueling,hpas_wd,hpas_hd,navi,imprt,car_use,car_score
0,0.126287,0.090880,0.108858,0.072009,0.079005,0.105583,0.161389,3,0.120005,4.283242,4,1,2,3,3,4,5,4,3.347413
1,0.212615,0.101538,0.119690,0.054557,0.061847,0.071435,0.118707,5,0.087496,1.193162,5,2,2,2,2,3,3,1,3.269526
2,0.115355,0.098763,0.086537,0.091709,0.092380,0.142084,0.162913,1,0.132795,3.023348,3,2,1,4,4,5,5,5,3.262369
3,0.103312,0.082402,0.100894,0.111522,0.107652,0.130155,0.147498,1,0.128943,3.139357,2,1,1,5,5,5,4,5,3.078124
4,0.228497,0.136970,0.142511,0.054821,0.050288,0.058120,0.096735,3,0.093458,2.511593,5,4,3,2,1,1,1,2,2.982246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.127029,0.148288,0.171377,0.069457,0.068725,0.058396,0.101378,4,0.103310,2.989103,4,5,4,3,3,1,1,3,3.314329
221,0.116293,0.088573,0.106373,0.117633,0.114955,0.096395,0.121386,3,0.106757,6.584607,3,1,1,5,5,4,3,3,3.291910
222,0.098979,0.123038,0.134157,0.118339,0.118952,0.061992,0.098977,3,0.103803,2.147971,2,3,3,5,5,2,1,3,2.987732
223,0.164981,0.129158,0.098177,0.019963,0.031715,0.075367,0.178443,5,0.093907,1.220699,5,4,1,1,1,3,5,2,3.232479
224,0.157269,0.152999,0.172147,0.064156,0.063331,0.054936,0.071526,5,0.099890,1.791630,4,5,4,3,2,1,1,3,3.284665

In [72]:
scaler = MinMaxScaler()
car = car_df.copy()
car = scaler.fit_transform(car)*100

In [73]:
car = pd.DataFrame(car)
car.columns = car_df.columns
car

,SHC_SCRT16_SUM,SHC_SCRT17_SUM,SHC_SCRT18_SUM,SHC_HPAS_WD_CNT,SHC_HPAS_HD_CNT,NAVI_US_CNT,IMPRT_CAR_IDX_SUM,car_cnt,CR_CNT,margin,car_sell,car_service,refueling,hpas_wd,hpas_hd,navi,imprt,car_use,car_score
0,36.698019,30.138442,31.063848,43.819974,56.026273,66.704686,57.292049,50.0,32.578313,56.969826,75.0,0.0,25.0,50.0,50.0,75.0,100.0,75.0,80.718855
1,61.784243,33.672908,34.154993,33.199919,43.858729,45.130583,42.140324,100.0,23.752977,15.435356,100.0,25.0,25.0,25.0,25.0,50.0,50.0,0.0,77.146772
2,33.521286,32.752803,24.694307,55.808318,65.511351,89.765070,57.833139,0.0,36.050513,40.035307,50.0,25.0,0.0,75.0,75.0,100.0,100.0,100.0,76.818559
3,30.021619,27.326895,28.791358,67.864988,76.341713,82.228762,52.360970,0.0,35.004638,41.594610,25.0,0.0,0.0,100.0,100.0,100.0,75.0,100.0,68.368701
4,66.399275,45.423268,40.667130,33.360513,35.662010,36.718616,34.340381,50.0,25.371477,33.156689,100.0,75.0,50.0,25.0,0.0,0.0,0.0,25.0,63.971518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,36.913578,49.176616,48.904549,42.266917,48.736532,36.893016,35.988747,75.0,28.046089,39.575009,75.0,100.0,75.0,50.0,50.0,0.0,0.0,50.0,79.201550
221,33.793802,29.373360,30.354772,71.583655,81.520586,60.899827,43.091432,50.0,28.981773,87.903005,50.0,0.0,0.0,100.0,100.0,75.0,50.0,50.0,78.173373
222,28.762502,40.802917,38.283128,72.013279,84.354822,39.165072,35.136185,50.0,28.179854,28.269164,25.0,50.0,50.0,100.0,100.0,25.0,0.0,50.0,64.223122
223,47.942105,42.832778,28.015990,12.148313,22.490531,47.615185,63.346412,100.0,25.493332,15.805491,100.0,75.0,0.0,0.0,0.0,50.0,100.0,25.0,75.447739
224,45.700978,50.739003,49.124017,39.041110,44.911501,34.707234,25.391209,100.0,27.117674,23.479496,75.0,100.0,75.0,50.0,25.0,0.0,0.0,50.0,77.841098

## Customer_Credit_Score

In [74]:
cc_df = data[['HOUS_LN_BAL_SUM','CRDT_LN_BAL_SUM','HOUS_LN_NEW_CNT','CRDT_LN_NEW_CNT','CAR_LN_SUM']]

In [75]:
cc_df.head()

,HOUS_LN_BAL_SUM,CRDT_LN_BAL_SUM,HOUS_LN_NEW_CNT,CRDT_LN_NEW_CNT,CAR_LN_SUM
0,0.375806,0.449284,0.422665,0.624270,0.568768
1,0.064120,0.074986,0.067426,0.164683,0.163890
2,0.500768,0.509276,0.165890,0.433412,0.510946
3,0.402335,0.342095,0.214602,0.404847,0.331541
4,0.073921,0.129953,0.110959,0.250724,0.322733

In [76]:
cc_df['margin'] = cc_df.sum(axis=1)
cc_df

,HOUS_LN_BAL_SUM,CRDT_LN_BAL_SUM,HOUS_LN_NEW_CNT,CRDT_LN_NEW_CNT,CAR_LN_SUM,margin
0,0.375806,0.449284,0.422665,0.624270,0.568768,2.440794
1,0.064120,0.074986,0.067426,0.164683,0.163890,0.535104
2,0.500768,0.509276,0.165890,0.433412,0.510946,2.120292
3,0.402335,0.342095,0.214602,0.404847,0.331541,1.695421
4,0.073921,0.129953,0.110959,0.250724,0.322733,0.888289
...,...,...,...,...,...,...
220,0.083988,0.171389,0.111447,0.330447,0.427817,1.125088
221,0.542214,0.479986,0.453427,0.835767,0.849186,3.160580
222,0.065625,0.111210,0.052809,0.247863,0.287534,0.765041
223,0.034518,0.145447,0.098074,0.201058,0.208829,0.687925
224,0.042619,0.098287,0.055166,0.188492,0.253675,0.638240

In [77]:
cc_df.HOUS_LN_BAL_SUM = cc_df.HOUS_LN_BAL_SUM/cc_df.margin
cc_df.CRDT_LN_BAL_SUM = cc_df.CRDT_LN_BAL_SUM/cc_df.margin
cc_df.HOUS_LN_NEW_CNT = cc_df.HOUS_LN_NEW_CNT/cc_df.margin
cc_df.CRDT_LN_NEW_CNT = cc_df.CRDT_LN_NEW_CNT/cc_df.margin
cc_df.CAR_LN_SUM = cc_df.CAR_LN_SUM/cc_df.margin

In [78]:
cc_weight = entropy_weight(cc_df.drop(['margin'],axis=1))

In [79]:
cc_weight

[0.4389612849075385,
 0.11337406576701865,
 0.29360899063033735,
 0.08242752771802118,
 0.0716281309770843]

In [80]:
cc_df['hlbs'] = pd.qcut(cc_df['HOUS_LN_BAL_SUM'],q=5,labels=range(1,6)).astype(int)
cc_df['clbs'] = pd.qcut(cc_df['CRDT_LN_BAL_SUM'],q=5,labels=range(1,6)).astype(int)
cc_df['hlnc'] = pd.qcut(cc_df['HOUS_LN_NEW_CNT'],q=5,labels=range(1,6)).astype(int)
cc_df['clnc'] = pd.qcut(cc_df['CRDT_LN_NEW_CNT'],q=5,labels=range(1,6)).astype(int)
cc_df['cls'] = pd.qcut(cc_df['CAR_LN_SUM'],q=5,labels=range(1,6)).astype(int)

In [81]:
cc_df['cc_score'] = (cc_weight[0]*cc_df['hlbs'] + 
                                 cc_weight[1]*cc_df['clbs']+
                                 cc_weight[2]*cc_df['hlnc']+
                                 cc_weight[3]*cc_df['clnc']+
                                 cc_weight[4]*cc_df['cls'])

In [82]:
cc_df

,HOUS_LN_BAL_SUM,CRDT_LN_BAL_SUM,HOUS_LN_NEW_CNT,CRDT_LN_NEW_CNT,CAR_LN_SUM,margin,hlbs,clbs,hlnc,clnc,cls,cc_score
0,0.153969,0.184073,0.173167,0.255765,0.233026,2.440794,4,4,5,2,1,3.913870
1,0.119827,0.140134,0.126005,0.307758,0.306277,0.535104,3,2,3,4,4,3.040682
2,0.236179,0.240192,0.078239,0.204412,0.240979,2.120292,5,5,1,1,2,3.280970
3,0.237307,0.201776,0.126577,0.238789,0.195551,1.695421,5,5,3,1,1,3.796559
4,0.083217,0.146295,0.124913,0.282255,0.363319,0.888289,2,3,3,3,5,2.704295
...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.074650,0.152334,0.099056,0.293708,0.380252,1.125088,1,3,1,3,5,1.678116
221,0.171555,0.151866,0.143463,0.264435,0.268680,3.160580,4,3,4,2,3,3.650143
222,0.085780,0.145364,0.069027,0.323987,0.375841,0.765041,2,3,1,5,5,2.281932
223,0.050177,0.211428,0.142564,0.292267,0.303563,0.687925,1,5,3,3,3,2.348826
224,0.066776,0.153997,0.086435,0.295331,0.397461,0.638240,1,3,1,3,5,1.678116

In [83]:
scaler = MinMaxScaler()
cc = cc_df.copy()
cc = scaler.fit_transform(cc)*100

In [84]:
cc = pd.DataFrame(cc)
cc.columns = cc_df.columns
cc

,HOUS_LN_BAL_SUM,CRDT_LN_BAL_SUM,HOUS_LN_NEW_CNT,CRDT_LN_NEW_CNT,CAR_LN_SUM,margin,hlbs,clbs,hlnc,clnc,cls,cc_score
0,15.396862,54.177429,60.101263,40.457007,54.978699,56.436136,75.0,75.0,100.0,25.0,0.0,90.311823
1,11.982670,41.244889,43.732522,48.681235,72.261161,12.194839,50.0,25.0,50.0,75.0,75.0,55.521519
2,23.617861,70.694533,27.154605,32.333855,56.855114,48.995572,100.0,100.0,0.0,0.0,25.0,65.095277
3,23.730709,59.387868,43.931284,37.771639,46.137091,39.132024,100.0,100.0,50.0,0.0,0.0,85.637851
4,8.321707,43.058501,43.353736,44.647150,85.719349,20.394174,25.0,50.0,50.0,50.0,100.0,42.118914
...,...,...,...,...,...,...,...,...,...,...,...,...
220,7.465036,44.835729,34.379582,46.458771,89.714266,25.891549,0.0,50.0,0.0,50.0,100.0,1.232999
221,17.155520,44.698203,49.791852,41.828337,63.390846,73.146250,75.0,50.0,75.0,25.0,50.0,79.804193
222,8.578030,42.784490,23.957410,51.248305,88.673640,17.532916,25.0,50.0,0.0,100.0,100.0,25.290768
223,5.017723,62.228789,49.479867,46.230919,71.620768,15.742649,0.0,100.0,50.0,50.0,50.0,27.955996
224,6.677593,45.325332,29.999122,46.715531,93.774449,14.589178,0.0,50.0,0.0,50.0,100.0,1.232999

## Finance_Interest_Score

In [85]:
fi_df = data[['OWN_HOUS_CNT','STCK_IDX_SUM','CRPT_IDX_SUM','금융거래 다양성',
              '금융 거래 금액','국내주식','해외주식','채권','연금']]

In [86]:
fi_df.head()

,OWN_HOUS_CNT,STCK_IDX_SUM,CRPT_IDX_SUM,금융거래 다양성,금융 거래 금액,국내주식,해외주식,채권,연금
0,0.523572,0.401371,0.721272,0.764165,0.147176,0.107354,0.341418,0.176235,0.133703
1,0.136604,0.054160,0.130181,0.485209,0.152846,0.101727,0.207252,0.327559,0.111682
2,0.530157,0.409647,0.441170,1.000000,0.519820,0.239626,0.872464,0.604561,0.296741
3,0.453658,0.367202,0.434421,0.885038,0.148075,0.090550,0.301075,0.177102,0.178276
4,0.238123,0.110378,0.196135,0.778407,0.215475,0.097276,0.375014,0.447097,0.162739

In [87]:
fi_df['margin'] = fi_df.sum(axis=1)
fi_df

,OWN_HOUS_CNT,STCK_IDX_SUM,CRPT_IDX_SUM,금융거래 다양성,금융 거래 금액,국내주식,해외주식,채권,연금,margin
0,0.523572,0.401371,0.721272,0.764165,0.147176,0.107354,0.341418,0.176235,0.133703,3.316268
1,0.136604,0.054160,0.130181,0.485209,0.152846,0.101727,0.207252,0.327559,0.111682,1.707219
2,0.530157,0.409647,0.441170,1.000000,0.519820,0.239626,0.872464,0.604561,0.296741,4.914187
3,0.453658,0.367202,0.434421,0.885038,0.148075,0.090550,0.301075,0.177102,0.178276,3.035398
4,0.238123,0.110378,0.196135,0.778407,0.215475,0.097276,0.375014,0.447097,0.162739,2.620643
...,...,...,...,...,...,...,...,...,...,...
220,0.267729,0.134651,0.148308,0.418610,0.109115,0.060579,0.152052,0.201818,0.134216,1.627078
221,0.637554,0.496353,0.649149,0.856048,0.121774,0.103970,0.299903,0.126486,0.095801,3.387038
222,0.173328,0.081795,0.200478,0.563331,0.058982,0.018075,0.165728,0.164990,0.105722,1.532429
223,0.090131,0.086436,0.103380,0.263246,0.077087,0.035414,0.118035,0.223607,0.158230,1.155565
224,0.135759,0.052150,0.095670,0.216039,0.075768,0.041936,0.176758,0.233149,0.071802,1.099031

In [88]:
fi_df.OWN_HOUS_CNT = fi_df.OWN_HOUS_CNT/fi_df.margin
fi_df.STCK_IDX_SUM = fi_df.STCK_IDX_SUM/fi_df.margin
fi_df.CRPT_IDX_SUM = fi_df.CRPT_IDX_SUM/fi_df.margin
fi_df['금융거래 다양성'] = fi_df['금융거래 다양성']/fi_df.margin
fi_df['금융 거래 금액'] = fi_df['금융 거래 금액']/fi_df.margin
fi_df['국내주식'] = fi_df['국내주식']/fi_df.margin
fi_df['해외주식'] = fi_df['해외주식']/fi_df.margin
fi_df['채권'] = fi_df['채권']/fi_df.margin
fi_df['연금'] = fi_df['연금']/fi_df.margin

In [89]:
fi_weight = entropy_weight(fi_df.drop(['margin'],axis=1))

In [90]:
fi_weight

[0.06456318653179297,
 0.09626581196694856,
 0.07713567982398255,
 0.039804729445677554,
 0.12635880597938784,
 0.21584320195635953,
 0.08665195331729898,
 0.14245858968937097,
 0.15091804128918107]

In [91]:
fi_df['ohc'] = pd.qcut(fi_df['OWN_HOUS_CNT'],q=5,labels=range(1,6)).astype(int)
fi_df['sis'] = pd.qcut(fi_df['STCK_IDX_SUM'],q=5,labels=range(1,6)).astype(int)
fi_df['cis'] = pd.qcut(fi_df['CRPT_IDX_SUM'],q=5,labels=range(1,6)).astype(int)
fi_df['dft'] = pd.qcut(fi_df['금융거래 다양성'],q=5,labels=range(1,6)).astype(int)
fi_df['fta'] = pd.qcut(fi_df['금융 거래 금액'],q=5,labels=range(1,6)).astype(int)
fi_df['ds'] = pd.qcut(fi_df['국내주식'],q=5,labels=range(1,6)).astype(int)
fi_df['os'] = pd.qcut(fi_df['해외주식'],q=5,labels=range(1,6)).astype(int)
fi_df['bond'] = pd.qcut(fi_df['채권'],q=5,labels=range(1,6)).astype(int)
fi_df['pension'] = pd.qcut(fi_df['연금'],q=5,labels=range(1,6)).astype(int)

In [92]:
fi_df['fi_score'] = (fi_weight[0]*fi_df['ohc'] + 
                                 fi_weight[1]*fi_df['sis']+
                                 fi_weight[2]*fi_df['cis']+
                                 fi_weight[3]*fi_df['dft'] + 
                                 fi_weight[4]*fi_df['fta']+
                                 fi_weight[5]*fi_df['ds']+
                                 fi_weight[6]*fi_df['os']+
                                 fi_weight[7]*fi_df['bond']+
                                 fi_weight[8]*fi_df['pension'])

In [93]:
fi_df

,OWN_HOUS_CNT,STCK_IDX_SUM,CRPT_IDX_SUM,금융거래 다양성,금융 거래 금액,국내주식,해외주식,채권,연금,margin,ohc,sis,cis,dft,fta,ds,os,bond,pension,fi_score
0,0.157880,0.121031,0.217495,0.230429,0.044380,0.032372,0.102953,0.053143,0.040317,3.316268,4,5,5,2,2,2,3,2,2,2.735983
1,0.080016,0.031724,0.076253,0.284210,0.089529,0.059586,0.121397,0.191867,0.065417,1.707219,1,1,2,4,4,4,3,5,4,3.419048
2,0.107883,0.083360,0.089775,0.203492,0.105780,0.048762,0.177540,0.123024,0.060385,4.914187,2,3,2,2,5,4,5,5,4,3.896196
3,0.149456,0.120973,0.143118,0.291572,0.048783,0.029831,0.099188,0.058345,0.058732,3.035398,3,5,3,4,2,2,2,2,3,2.661024
4,0.090864,0.042119,0.074842,0.297029,0.082222,0.037119,0.143100,0.170606,0.062099,2.620643,2,2,1,4,4,3,4,5,4,3.373550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.164546,0.082756,0.091150,0.257277,0.067062,0.037232,0.093451,0.124037,0.082489,1.627078,4,3,2,3,3,3,2,5,4,3.336611
221,0.188234,0.146545,0.191657,0.252742,0.035953,0.030696,0.088544,0.037344,0.028285,3.387038,5,5,5,3,1,2,2,2,1,2.476422
222,0.113107,0.053376,0.130824,0.367606,0.038489,0.011795,0.108147,0.107666,0.068990,1.532429,2,2,3,5,2,1,3,4,4,2.654112
223,0.077997,0.074800,0.089463,0.227807,0.066709,0.030646,0.102145,0.193504,0.136929,1.155565,1,3,2,2,3,2,3,5,5,3.124843
224,0.123526,0.047451,0.087049,0.196572,0.068941,0.038157,0.160831,0.212140,0.065332,1.099031,2,2,2,2,3,3,4,5,4,3.244718

In [94]:
scaler = MinMaxScaler()
fi = fi_df.copy()
fi = scaler.fit_transform(fi)*100

In [95]:
fi = pd.DataFrame(fi)
fi.columns = fi_df.columns
fi

,OWN_HOUS_CNT,STCK_IDX_SUM,CRPT_IDX_SUM,금융거래 다양성,금융 거래 금액,국내주식,해외주식,채권,연금,margin,ohc,sis,cis,dft,fta,ds,os,bond,pension,fi_score
0,58.589962,74.427409,86.255397,43.007922,11.980401,6.817382,24.207795,13.985863,10.748401,52.028981,75.0,100.0,100.0,25.0,25.0,25.0,50.0,25.0,25.0,42.328982
1,29.694191,19.508626,30.241001,53.045675,24.168397,12.548548,28.544792,50.494746,17.439887,24.784832,0.0,0.0,25.0,75.0,75.0,75.0,50.0,100.0,75.0,75.356247
2,40.035858,51.261832,35.603394,37.980357,28.555194,10.269064,41.745911,32.376842,16.098213,79.084696,25.0,50.0,25.0,25.0,100.0,75.0,100.0,100.0,75.0,98.427088
3,55.463723,74.391975,56.758661,54.419823,13.168920,6.282350,23.322612,15.355109,15.657762,47.273346,50.0,100.0,50.0,75.0,25.0,25.0,25.0,25.0,50.0,38.704599
4,33.720120,25.900573,29.681333,55.438271,22.195869,7.817093,33.647916,44.899343,16.555198,40.250781,25.0,25.0,0.0,75.0,75.0,50.0,75.0,100.0,75.0,73.156352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,61.063776,50.890660,36.148641,48.018938,18.103341,7.840821,21.973588,32.643606,21.991063,23.427888,75.0,50.0,25.0,50.0,50.0,50.0,25.0,100.0,75.0,71.370266
221,69.854362,90.117017,76.008271,47.172488,9.705493,6.464500,20.819947,9.828069,7.540520,53.227253,100.0,100.0,100.0,50.0,0.0,25.0,25.0,25.0,0.0,29.778814
222,41.974477,32.823150,51.882826,68.611010,10.390100,2.483929,25.429309,28.335060,18.392354,21.825314,25.0,25.0,50.0,100.0,25.0,0.0,50.0,75.0,75.0,38.370397
223,28.945085,45.997955,35.479698,42.518472,18.008113,6.453951,24.017819,50.925656,36.504440,15.444304,0.0,50.0,25.0,25.0,50.0,25.0,50.0,100.0,100.0,61.130983
224,45.841225,29.179494,34.522483,36.688778,18.610639,8.035639,37.817038,55.830206,17.417215,14.487084,25.0,25.0,25.0,25.0,50.0,50.0,75.0,100.0,75.0,66.927098

## Medical_interest_Score

In [96]:
mi_df = data[['SHC_SCRT14_SUM','보험건수','보험매출','의료']]

In [97]:
mi_df.head()

   SHC_SCRT14_SUM      보험건수      보험매출        의료
0        0.333250  0.403074  0.413981  0.062388
1        0.089713  0.120325  0.124531  0.011071
2        0.624542  0.547247  0.657792  1.000000
3        0.427239  0.547278  0.541578  0.149909
4        0.172608  0.376268  0.421842  0.049039

In [98]:
mi_df['margin'] = mi_df.sum(axis=1)
mi_df

     SHC_SCRT14_SUM      보험건수      보험매출        의료    margin
0          0.333250  0.403074  0.413981  0.062388  1.212694
1          0.089713  0.120325  0.124531  0.011071  0.345641
2          0.624542  0.547247  0.657792  1.000000  2.829581
3          0.427239  0.547278  0.541578  0.149909  1.666005
4          0.172608  0.376268  0.421842  0.049039  1.019757
..              ...       ...       ...       ...       ...
220        0.171848  0.149588  0.151380  0.012772  0.485586
221        0.478971  0.959178  1.000000  0.107301  2.545450
222        0.156894  0.133711  0.125287  0.023643  0.439535
223        0.081424  0.054040  0.060955  0.001707  0.198126
224        0.085117  0.067495  0.072457  0.007350  0.232419

[225 rows x 5 columns]

In [99]:
mi_df.SHC_SCRT14_SUM = mi_df.SHC_SCRT14_SUM/mi_df.margin
mi_df['보험건수'] = mi_df['보험건수']/mi_df.margin
mi_df['보험매출'] = mi_df['보험매출']/mi_df.margin
mi_df['의료'] = mi_df['의료']/mi_df.margin

In [100]:
mi_weight = entropy_weight(mi_df.drop(['margin'],axis=1))

In [101]:
mi_weight

[0.1480684442206261,
 0.04948418929002358,
 0.0503650026619949,
 0.7520823638273554]

In [102]:
mi_df['mua'] = pd.qcut(mi_df['SHC_SCRT14_SUM'],q=5,labels=range(1,6)).astype(int)
mi_df['nic'] = pd.qcut(mi_df['보험건수'],q=5,labels=range(1,6)).astype(int)
mi_df['is'] = pd.qcut(mi_df['보험매출'],q=5,labels=range(1,6)).astype(int)
mi_df['medical'] = pd.qcut(mi_df['의료'],q=5,labels=range(1,6)).astype(int)

In [103]:
mi_df['mi_score'] = (mi_weight[0]*mi_df['mua'] + 
                                 mi_weight[1]*mi_df['nic']+
                                 mi_weight[2]*mi_df['is']+
                                 mi_weight[3]*mi_df['medical'])

In [104]:
mi_df

,SHC_SCRT14_SUM,보험건수,보험매출,의료,margin,mua,nic,is,medical,mi_score
0,0.274801,0.332379,0.341373,0.051446,1.212694,3,3,4,4,3.802447
1,0.259556,0.348121,0.360292,0.032031,0.345641,2,4,4,2,2.199698
2,0.220719,0.193402,0.232470,0.353409,2.829581,2,1,1,5,4.156398
3,0.256445,0.328497,0.325076,0.089981,1.666005,2,3,3,5,4.356096
4,0.169264,0.368978,0.413669,0.048089,1.019757,1,5,5,3,2.903561
...,...,...,...,...,...,...,...,...,...,...
220,0.353897,0.308056,0.311746,0.026302,0.485586,4,2,2,2,2.296137
221,0.188167,0.376821,0.392858,0.042154,2.545450,1,5,5,3,2.903561
222,0.356955,0.304211,0.285043,0.053791,0.439535,4,2,2,4,3.800302
223,0.410972,0.272756,0.307657,0.008615,0.198126,5,2,2,1,1.692123
224,0.366222,0.290403,0.311749,0.031625,0.232419,4,2,2,2,2.296137

In [105]:
scaler = MinMaxScaler()
mi = mi_df.copy()
mi = scaler.fit_transform(mi)*100

In [106]:
mi = pd.DataFrame(mi)
mi.columns = mi_df.columns
mi

,SHC_SCRT14_SUM,보험건수,보험매출,의료,margin,mua,nic,is,medical,mi_score
0,33.236859,74.351844,72.975697,5.144613,42.540596,50.0,50.0,75.0,75.0,75.446576
1,31.393039,77.873069,77.019866,3.203139,11.728101,25.0,75.0,75.0,25.0,26.141700
2,26.695671,43.263237,49.695288,35.340918,100.000000,25.0,0.0,0.0,100.0,86.335048
3,31.016741,73.483471,69.491824,8.998115,58.649932,25.0,50.0,50.0,100.0,92.478308
4,20.472283,82.538841,88.430350,4.808896,35.684207,0.0,100.0,100.0,50.0,47.794425
...,...,...,...,...,...,...,...,...,...,...
220,42.803408,68.910702,66.642180,2.630170,16.701357,75.0,25.0,25.0,25.0,29.108408
221,22.758622,84.293182,83.981593,4.215393,89.902799,0.0,100.0,100.0,50.0,47.794425
222,43.173253,68.050689,60.933929,5.379106,15.064841,75.0,25.0,25.0,75.0,75.380567
223,49.706586,61.014325,65.768090,0.861502,6.485852,100.0,25.0,25.0,0.0,10.527313
224,44.294146,64.961983,66.642941,3.162497,7.704545,75.0,25.0,25.0,25.0,29.108408

## Digital_Score

In [107]:
digital_df = data[['SHC_SCRT20_SUM','SHC_SCRT19_SUM','DMSC_CNT','APP_CNT']]

In [108]:
digital_df.head()

   SHC_SCRT20_SUM  SHC_SCRT19_SUM  DMSC_CNT   APP_CNT
0        0.533867        0.385790  0.309749  0.296661
1        0.047929        0.066949  0.082873  0.055921
2        0.457880        0.575012  0.399083  0.467898
3        0.463187        0.357869  0.330601  0.313337
4        0.323545        0.162034  0.169779  0.149059

In [109]:
digital_df['margin'] = digital_df.sum(axis=1)
digital_df

     SHC_SCRT20_SUM  SHC_SCRT19_SUM  DMSC_CNT   APP_CNT    margin
0          0.533867        0.385790  0.309749  0.296661  1.526067
1          0.047929        0.066949  0.082873  0.055921  0.253672
2          0.457880        0.575012  0.399083  0.467898  1.899874
3          0.463187        0.357869  0.330601  0.313337  1.464993
4          0.323545        0.162034  0.169779  0.149059  0.804417
..              ...             ...       ...       ...       ...
220        0.290498        0.181946  0.195881  0.193780  0.862105
221        0.828970        0.526888  0.448619  0.452339  2.256816
222        0.165680        0.107148  0.097748  0.083671  0.454246
223        0.050980        0.092060  0.147330  0.147661  0.438030
224        0.064349        0.075431  0.103591  0.089912  0.333283

[225 rows x 5 columns]

In [110]:
digital_df.SHC_SCRT20_SUM = digital_df.SHC_SCRT20_SUM/digital_df.margin
digital_df.SHC_SCRT19_SUM = digital_df.SHC_SCRT19_SUM/digital_df.margin
digital_df.DMSC_CNT = digital_df.DMSC_CNT/digital_df.margin
digital_df.APP_CNT = digital_df.APP_CNT/digital_df.margin

In [111]:
digital_df.fillna(0,inplace=True)

In [112]:
digital_weight = entropy_weight(digital_df.drop(['margin'],axis=1))

In [113]:
digital_weight

[0.30681372790269057,
 0.14103824374339338,
 0.32403692944174317,
 0.22811109891217288]

In [114]:
digital_df['delivery'] = pd.qcut(digital_df['SHC_SCRT20_SUM'],q=5,labels=range(1,6)).astype(int)
digital_df['e-commerce'] = pd.qcut(digital_df['SHC_SCRT19_SUM'],q=5,labels=range(1,6)).astype(int)
digital_df['music'] = pd.qcut(digital_df['DMSC_CNT'],q=5,labels=range(1,6)).astype(int)
digital_df['app'] = pd.qcut(digital_df['APP_CNT'],q=5,labels=range(1,6)).astype(int)

In [115]:
digital_df['digital_score'] = (digital_weight[0]*digital_df['delivery'] + 
                                 digital_weight[1]*digital_df['e-commerce']+
                                 digital_weight[2]*digital_df['music']+
                                 digital_weight[3]*digital_df['app'])

In [116]:
digital_df

,SHC_SCRT20_SUM,SHC_SCRT19_SUM,DMSC_CNT,APP_CNT,margin,delivery,e-commerce,music,app,digital_score
0,0.349832,0.252800,0.202972,0.194396,1.526067,3,4,2,2,2.588890
1,0.188941,0.263919,0.326693,0.220446,0.253672,1,5,5,4,3.544634
2,0.241005,0.302658,0.210058,0.246279,1.899874,1,5,3,5,3.124671
3,0.316170,0.244280,0.225667,0.213883,1.464993,2,4,4,3,3.158261
4,0.402211,0.201431,0.211058,0.185300,0.804417,5,1,3,2,3.103440
...,...,...,...,...,...,...,...,...,...,...
220,0.336963,0.211048,0.227213,0.224775,0.862105,3,2,4,4,3.411110
221,0.367318,0.233465,0.198784,0.200432,2.256816,4,3,2,3,2.982777
222,0.364736,0.235881,0.215187,0.184197,0.454246,4,3,3,2,3.078703
223,0.116384,0.210168,0.336346,0.337102,0.438030,1,2,5,5,3.349630
224,0.193075,0.226327,0.310820,0.269777,0.333283,1,3,5,5,3.490669

In [117]:
scaler = MinMaxScaler()
digital = digital_df.copy()
digital = scaler.fit_transform(digital)*100

In [118]:
digital = pd.DataFrame(digital)
digital.columns = digital_df.columns
digital

,SHC_SCRT20_SUM,SHC_SCRT19_SUM,DMSC_CNT,APP_CNT,margin,delivery,e-commerce,music,app,digital_score
0,74.840595,48.248741,31.686343,23.509364,38.151684,50.0,75.0,25.0,25.0,56.797149
1,40.420810,50.370729,51.000774,26.659819,6.341796,0.0,100.0,100.0,75.0,90.961575
2,51.559015,57.764429,32.792532,29.783862,47.496842,0.0,100.0,50.0,100.0,75.949407
3,67.639181,46.622586,35.229322,25.866058,36.624837,25.0,75.0,75.0,50.0,77.150137
4,86.046199,38.444465,32.948678,22.409408,20.110427,100.0,0.0,50.0,25.0,75.190461
...,...,...,...,...,...,...,...,...,...,...
220,72.087579,40.280046,35.470684,27.183335,21.552623,50.0,25.0,75.0,75.0,86.188562
221,78.581488,44.558506,31.032560,24.239415,56.420404,75.0,50.0,25.0,50.0,70.877188
222,78.028973,45.019510,33.593204,22.275978,11.356142,75.0,50.0,50.0,25.0,74.306193
223,24.898466,40.111963,52.507648,40.767630,10.950752,0.0,25.0,100.0,100.0,83.990892
224,41.305187,43.196155,48.522748,32.625673,8.332084,0.0,50.0,100.0,100.0,89.032505

# Data Structure

In [119]:
index_df = pd.DataFrame({'시군구':pd.read_csv('../Data/Master_df_mean.csv')['시군구명'],
              'shopping_score':shopping['shopping_score'],
              'culture_self_score':culture_self['cs_score'],
              'high_end_score':he['he_score'],
              'travel_score': travel['travel_score'],
              'public_transportation_score':pt['pt_score'],
              'car_score':car['car_score'],
              'customer_credit_score':cc['cc_score'],
              'digital_score':digital['digital_score'],
              'medical_interest_score':mi['mi_score'],
              'finance_interest_score':fi['fi_score']});index_df

,시군구,shopping_score,culture_self_score,high_end_score,travel_score,public_transportation_score,car_score,customer_credit_score,digital_score,medical_interest_score,finance_interest_score
0,세종특별시,71.986913,37.368794,89.214569,30.237374,58.005815,80.718855,90.311823,56.797149,75.446576,42.328982
1,가평군,53.480927,32.311972,67.882473,72.330108,44.067366,77.146772,55.521519,90.961575,26.141700,75.356247
2,강남구,57.144903,19.481012,97.784590,14.510204,83.747071,76.818559,65.095277,75.949407,86.335048,98.427088
3,강동구,69.847210,37.107985,88.992507,9.708241,71.511594,68.368701,85.637851,77.150137,92.478308,38.704599
4,강릉시,29.007512,78.286959,63.938666,58.271614,59.855123,63.971518,42.118914,75.190461,47.794425,73.156352
...,...,...,...,...,...,...,...,...,...,...,...
220,홍천군,14.266303,42.807121,72.011608,52.563640,52.138099,79.201550,1.232999,86.188562,29.108408,71.370266
221,화성시,89.106759,17.592056,86.280017,10.736587,78.295757,78.173373,79.804193,70.877188,47.794425,29.778814
222,화순군,51.260225,50.385524,41.952838,58.975878,63.020360,64.223122,25.290768,74.306193,75.380567,38.370397
223,화천군,30.326563,63.527105,69.899348,57.630568,61.116569,75.447739,27.955996,83.990892,10.527313,61.130983
224,횡성군,55.367026,61.166526,72.838619,65.683879,54.180013,77.841098,1.232999,89.032505,29.108408,66.927098

In [120]:
index_df.to_csv('../Data/index_df_mm_ratio.csv',index=False)